# Local configuration files
/local.properties
/.idea
/*.iml

# Build directories
/build/
/app/build/

# Gradle files
/.gradle
/gradle

# Log files
*.log

# Keystore files
*.keystore

# Hprof files
*.hprof

# Captures directory
captures/
